* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin flex($justify, $align, $direction) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
//colors original
// $mychatbox: #fcf6c5;
// $otherchatbox: #fff;
// $button: #ff876d;
// $formbar: #3798d4;
@import 'mainbox';
@import 'chatbubble';