* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$namecolor: #b3bcc3;
$chatborder: #d4dade;
$mychatbubble: #fcf6c5;
$buttonBG: #ff876d;
$inputboxBG: #3798d4;
$inputborder: #2e77a4;
@mixin flex($justify, $align, $direction) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
@import 'mainbox';
@import 'loader';
@import 'chatbubble';
@import 'inputbar';