//main: App.scss

.inputbar {
  background-color: $inputboxBG;
  width: clamp(200px, 90vw, 600px);
  margin: 0 auto;

  textarea {
    margin: 8px;
    border-radius: 5px;
    padding: 8px;
    width: 70%;
    vertical-align: middle;
    border: 2px solid $inputborder;
    resize: none;
  }

  button {
    height: 100%;
    border: none;
    margin: 8px;
    padding: 8px;
    border-radius: 5px;
    color: white;
    background-color: $buttonBG;
    transition: 0.45s lineal;

    &:hover {
      color: $buttonBG;
      background-color: white;
      box-shadow: -2px -2px 2px $inputborder;
    }
  }
}